In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./taxi_final.csv")
df.head()

   weekday  pick_hour  passenger_count  pickup_latitude  pickup_longitude
0        4          1                1        40.764283        -73.988428
1        3         20                1        40.761807        -73.970912
2        3         22                1        40.774141        -73.963635
3        3         20                2        40.720460        -74.003597
4        3         17                1        40.747278        -73.980590

In [3]:
df["pickup_latitude"] = df["pickup_latitude"].astype(str)
df["pickup_longitude"] = df["pickup_longitude"].astype(str)

In [4]:
df["pickup_latitude"] = pd.to_numeric(df["pickup_latitude"])
df["pickup_longitude"] = pd.to_numeric(df["pickup_longitude"])

In [5]:
labels_lat = ["{0}".format(i) for i in range(len(np.arange(40.494292,40.925521,0.009)))]
df['group_lat'] = pd.cut(df.pickup_latitude, np.arange(40.494292,40.925521+0.009,0.009), labels=labels_lat)
labels_long = ["{0}".format(i) for i in range(len(np.arange(-74.254380,-73.693835,0.009)))]
df['group_long'] = pd.cut(df.pickup_longitude, np.arange(-74.254380,-73.693835+0.009,0.009), labels=labels_long)

In [6]:
df_final = pd.DataFrame({"sum" : df.groupby(["group_lat","group_long","weekday","pick_hour"])["passenger_count"].sum()}).reset_index()

In [7]:
df_final["group_lat"] = df_final["group_lat"].astype(int)
df_final["group_long"] = df_final["group_long"].astype(int)

In [8]:
def numeric_to_lat(numeric):
    result = 40.494292 + (numeric+1/2)*0.009
    return result

def numeric_to_long(numeric):
    result = -74.254380 + (numeric+1/2)*0.009
    return result

In [9]:
df_final["lat"] = df_final["group_lat"].map(numeric_to_lat)
df_final["long"] = df_final["group_long"].map(numeric_to_long)

In [10]:
df_return = df_final[["weekday","pick_hour","sum","lat","long"]]

In [11]:
df_return.to_csv("./taxi_009.csv",index = None)

In [12]:
df_return

        weekday  pick_hour  sum        lat      long
0             4          0    2  40.498792 -74.24088
1             2         12    1  40.498792 -74.09688
2             2         12    1  40.498792 -74.08788
3             3          0    1  40.498792 -74.04288
4             2         12    6  40.498792 -74.03388
5             4         13    2  40.498792 -74.03388
6             6         12    3  40.498792 -74.03388
7             6         23    1  40.498792 -74.00688
8             3          8   18  40.498792 -73.92588
9             3          9   18  40.498792 -73.92588
10            2          3    1  40.498792 -73.90788
11            3         20    2  40.498792 -73.85388
12            0         13    1  40.498792 -73.84488
13            0         16    5  40.498792 -73.79088
14            6         15    2  40.498792 -73.70088
15            5          3    1  40.507792 -74.24988
16            2          0    1  40.507792 -74.24088
17            2         22    2  40.507792 -74.24088
18            3          0    1  40.507792 -74.24088
19            3          2    5  40.507792 -74.24088
20            3         22    1  40.507792 -74.24088
21            4          1    2  40.507792 -74.24088
22            3          0    1  40.507792 -74.23188
23            5         14    1  40.507792 -74.23188
24            4          0    2  40.507792 -74.20488
25            6          3    1  40.507792 -74.17788
26            6          4    2  40.507792 -74.17788
27            6         13    2  40.507792 -74.17788
28            0         13    2  40.507792 -74.16888
29            0         14    1  40.507792 -74.16888
...         ...        ...  ...        ...       ...
116208        1         21    1  40.921792 -73.76388
116209        2         12    1  40.921792 -73.76388
116210        2         18    1  40.921792 -73.76388
116211        3         18    1  40.921792 -73.76388
116212        3         21    1  40.921792 -73.76388
116213        4         22    1  40.921792 -73.76388
116214        5          1    1  40.921792 -73.76388
116215        5         13    1  40.921792 -73.76388
116216        5         17    1  40.921792 -73.76388
116217        6         13    1  40.921792 -73.76388
116218        6         22    2  40.921792 -73.76388
116219        0         14    3  40.921792 -73.75488
116220        2         15    1  40.921792 -73.75488
116221        2         19    1  40.921792 -73.75488
116222        2         20    1  40.921792 -73.75488
116223        3          0    1  40.921792 -73.75488
116224        4          2    2  40.921792 -73.75488
116225        4         10    3  40.921792 -73.75488
116226        4         16    2  40.921792 -73.75488
116227        5          6    1  40.921792 -73.75488
116228        6         18    1  40.921792 -73.75488
116229        0          0    1  40.921792 -73.74588
116230        0         12    2  40.921792 -73.74588
116231        2          0    2  40.921792 -73.74588
116232        2         15    1  40.921792 -73.74588
116233        3         12    1  40.921792 -73.74588
116234        5          2    1  40.921792 -73.74588
116235        5          3    1  40.921792 -73.74588
116236        5          4    3  40.921792 -73.74588
116237        6          3    2  40.921792 -73.74588

[116238 rows x 5 columns]

In [13]:
df = pd.read_csv("./taxi_009.csv")

In [14]:
df = df.sort_values(by = ["weekday","pick_hour"],ascending=True)
df.to_csv("./taxi_sort_009.csv", index=None)