In [1]:
import pandas as pd
import numpy as np

In [2]:
GAP = 0.004

In [3]:
df = pd.read_csv("./NYPD_Complaint_Data_Historic.csv")
df.describe()

/Users/zcd/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CMPLNT_NUM,KY_CD,PD_CD,ADDR_PCT_CD,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,1.048575e+06,1.048575e+06,1.047842e+06,1.048574e+06,1.016158e+06,1.016158e+06,1.016158e+06,1.016158e+06
mean,5.497027e+08,2.953382e+02,4.099135e+02,6.380729e+01,1.004983e+06,2.067818e+05,4.073420e+01,-7.392516e+01
std,2.598666e+08,1.505240e+02,2.192328e+02,3.434066e+01,2.146524e+04,3.043238e+04,8.353300e-02,7.741049e-02
min,1.000007e+08,1.010000e+02,1.010000e+02,1.000000e+00,9.133190e+05,1.210800e+05,4.049877e+01,-7.425508e+01
25%,3.244583e+08,1.170000e+02,2.540000e+02,4.000000e+01,9.919982e+05,1.839220e+05,4.067144e+01,-7.397206e+01
50%,5.494480e+08,3.410000e+02,3.570000e+02,6.600000e+01,1.004598e+06,2.053300e+05,4.073021e+01,-7.392661e+01
75%,7.746526e+08,3.510000e+02,6.370000e+02,9.400000e+01,1.016552e+06,2.348090e+05,4.081116e+01,-7.388336e+01
max,9.999996e+08,8.810000e+02,9.750000e+02,1.230000e+02,1.067226e+06,2.718200e+05,4.091272e+01,-7.370058e+01

In [4]:
df.columns.values

array(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon'], dtype=object)

In [5]:
df = df.drop(['CMPLNT_NUM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM',
              'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD', 'PD_DESC', 'CRM_ATPT_CPTD_CD',
              'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM', 'LOC_OF_OCCUR_DESC', 
              'PREM_TYP_DESC', 'PARKS_NM', 'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD',
              'Lat_Lon'], axis=1)

In [6]:
df.columns = ["Datetime", "Time", "Precinct", "Latitude", "Longitude"]

In [7]:
df = df.dropna()

In [8]:
df.describe()

           Precinct      Latitude     Longitude
count  1.016095e+06  1.016095e+06  1.016095e+06
mean   6.366385e+01  4.073420e+01 -7.392516e+01
std    3.425801e+01  8.353356e-02  7.741029e-02
min    1.000000e+00  4.049877e+01 -7.425508e+01
25%    4.000000e+01  4.067144e+01 -7.397207e+01
50%    6.600000e+01  4.073021e+01 -7.392661e+01
75%    9.400000e+01  4.081116e+01 -7.388336e+01
max    1.230000e+02  4.091272e+01 -7.370058e+01

In [9]:
df["Datetime"] = df["Datetime"].astype(str)
df["Time"] = df["Time"].astype(str)
df["Precinct"] = df["Precinct"].astype(str)
df["Latitude"] = df["Latitude"].astype(str)
df["Longitude"] = df["Longitude"].astype(str)

In [10]:
df.head()

     Datetime      Time Precinct     Latitude     Longitude
0  12/31/2015  23:45:00     44.0  40.82884833  -73.91666114
1  12/31/2015  23:36:00    103.0  40.69733814  -73.78455674
2  12/31/2015  23:30:00     28.0  40.80260661  -73.94505191
3  12/31/2015  23:30:00    105.0  40.65454944  -73.72633879
4  12/31/2015  23:25:00     13.0   40.7380024  -73.98789129

In [11]:
# df = df[~df.Datetime.str.contains("nan")]
# df = df[~df.Time.str.contains("nan")]
# df = df[~df.Precinct.str.contains("nan")]
# df = df[~df.Longitude.str.contains("nan")]
# df = df[~df.Latitude.str.contains("nan")]

In [12]:
df["Latitude"] = pd.to_numeric(df["Latitude"])
df["Longitude"] = pd.to_numeric(df["Longitude"])

In [13]:
labels_lat = ["{0}".format(i) for i in range(len(np.arange(40.494292,40.925521,GAP)))]
df['group_lat'] = pd.cut(df.Latitude, np.arange(40.494292,40.925521+GAP,GAP), labels=labels_lat)
labels_long = ["{0}".format(i) for i in range(len(np.arange(-74.254380,-73.693835,GAP)))]
df['group_long'] = pd.cut(df.Longitude, np.arange(-74.254380,-73.693835+GAP,GAP), labels=labels_long)

In [14]:
datetime_arr = df["Datetime"].values
time_arr = df["Time"].values

In [15]:
import datetime
day_list = []
for time in datetime_arr:
    time_obj = datetime.datetime.strptime(time, "%m/%d/%Y")
    day_list.append(time_obj.weekday())
    
hour_list = []
for time in time_arr:
    time_obj = datetime.datetime.strptime(time, "%H:%M:%S")
    hour_list.append(time_obj.hour)

In [16]:
day_se = pd.Series(day_list)
hour_se = pd.Series(hour_list)

In [17]:
df["day"] = day_se
df["hour"] = hour_se
df = df.drop(["Datetime", "Time"], axis=1)

In [18]:
df

        Precinct   Latitude  Longitude group_lat group_long  day  hour
0           44.0  40.828848 -73.916661        83         84  3.0  23.0
1          103.0  40.697338 -73.784557        50        117  3.0  23.0
2           28.0  40.802607 -73.945052        77         77  3.0  23.0
3          105.0  40.654549 -73.726339        40        132  3.0  23.0
4           13.0  40.738002 -73.987891        60         66  3.0  23.0
5           71.0  40.665023 -73.957111        42         74  3.0  23.0
6            7.0  40.720200 -73.988735        56         66  3.0  23.0
7           46.0  40.845707 -73.910398        87         85  3.0  23.0
8           48.0  40.856711 -73.891900        90         90  3.0  23.0
9           19.0  40.765618 -73.963623        67         72  3.0  23.0
10          41.0  40.822040 -73.891732        81         90  3.0  23.0
11          13.0  40.732828 -73.986063        59         67  3.0  23.0
12          14.0  40.757916 -73.989299        65         66  3.0  23.0
13          14.0  40.757916 -73.989299        65         66  3.0  23.0
14          67.0  40.644562 -73.927662        37         81  3.0  23.0
15         103.0  40.708096 -73.782102        53        118  3.0  23.0
16          17.0  40.755197 -73.968296        65         71  3.0  23.0
17          48.0  40.857925 -73.891952        90         90  3.0  23.0
18          61.0  40.606309 -73.965133        28         72  3.0  23.0
19         102.0  40.679499 -73.862825        46         97  3.0  22.0
20          71.0  40.655642 -73.959863        40         73  3.0  22.0
22         108.0  40.749307 -73.897578        63         89  3.0  22.0
23          75.0  40.671237 -73.877222        44         94  3.0  22.0
24          73.0  40.660258 -73.913671        41         85  3.0  22.0
25          60.0  40.586060 -73.971743        22         70  3.0  22.0
26          68.0  40.633033 -74.021193        34         58  3.0  22.0
27          75.0  40.669800 -73.892398        43         90  3.0  22.0
28          79.0  40.696494 -73.949431        50         76  3.0  22.0
29         121.0  40.624475 -74.158203        32         24  3.0  22.0
30          44.0  40.838862 -73.910306        86         86  3.0  22.0
...          ...        ...        ...       ...        ...  ...   ...
1048544    113.0  40.677557 -73.791042        45        115  NaN   NaN
1048545     81.0  40.687970 -73.922361        48         83  NaN   NaN
1048546     63.0  40.606929 -73.916139        28         84  NaN   NaN
1048547    115.0  40.752843 -73.883926        64         92  NaN   NaN
1048548     63.0  40.629527 -73.925081        33         82  NaN   NaN
1048549     42.0  40.837133 -73.900269        85         88  NaN   NaN
1048550     50.0  40.874166 -73.899436        94         88  NaN   NaN
1048551     84.0  40.700742 -73.989730        51         66  NaN   NaN
1048552     52.0  40.865034 -73.895173        92         89  NaN   NaN
1048553    106.0  40.685846 -73.826849        47        106  NaN   NaN
1048554     41.0  40.818626 -73.889169        81         91  NaN   NaN
1048555     46.0  40.847914 -73.909994        88         86  NaN   NaN
1048556    107.0  40.729480 -73.792293        58        115  NaN   NaN
1048557     94.0  40.730549 -73.950650        59         75  NaN   NaN
1048558     49.0  40.866673 -73.864424        93         97  NaN   NaN
1048559    112.0  40.720074 -73.840851        56        103  NaN   NaN
1048560     60.0  40.573906 -73.999386        19         63  NaN   NaN
1048562     73.0  40.661440 -73.916434        41         84  NaN   NaN
1048563     48.0  40.857618 -73.884838        90         92  NaN   NaN
1048564     63.0  40.610717 -73.920985        29         83  NaN   NaN
1048565     28.0  40.807781 -73.945485        78         77  NaN   NaN
1048566     84.0  40.689938 -73.981478        48         68  NaN   NaN
1048567     48.0  40.858442 -73.885119        91         92  NaN   NaN
1048568     17.0  40.749456 -73.971309        63         70  NaN   NaN
1048569     18.0  40.767305 -73.981698        68         68  NaN   NaN
1048570     40.0  40.806932 -73.920767        78         83  NaN   NaN
1048571     75.0  40.660901 -73.895227        41         89  NaN   NaN
1048572      1.0  40.723909 -74.004681        57         62  NaN   NaN
1048573     52.0  40.877554 -73.872939        95         95  NaN   NaN
1048574     32.0  40.814113 -73.940855        79         78  NaN   NaN

[1016095 rows x 7 columns]

In [19]:
df = df.dropna()

In [20]:
df.describe()

            Latitude      Longitude            day           hour
count  984801.000000  984801.000000  984801.000000  984801.000000
mean       40.734255     -73.925167       3.014785      13.221786
std         0.083564       0.077380       1.967508       6.649070
min        40.498768     -74.253767       0.000000       0.000000
25%        40.671412     -73.971976       1.000000       9.000000
50%        40.730296     -73.926630       3.000000      14.000000
75%        40.811337     -73.883404       5.000000      19.000000
max        40.912723     -73.700577       6.000000      23.000000

In [21]:
df["day"] = df["day"].astype(int)
df["hour"] = df["hour"].astype(int)

/Users/zcd/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/zcd/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
df = df.reset_index(drop=True)

In [23]:
df.describe()

            Latitude      Longitude            day           hour
count  984801.000000  984801.000000  984801.000000  984801.000000
mean       40.734255     -73.925167       3.014785      13.221786
std         0.083564       0.077380       1.967508       6.649070
min        40.498768     -74.253767       0.000000       0.000000
25%        40.671412     -73.971976       1.000000       9.000000
50%        40.730296     -73.926630       3.000000      14.000000
75%        40.811337     -73.883404       5.000000      19.000000
max        40.912723     -73.700577       6.000000      23.000000

In [24]:
df["num"] = 1

In [25]:
df_final = pd.DataFrame({"sum" : df.groupby(["group_lat","group_long","day","hour"])["num"].sum()}).reset_index()

In [26]:
df_final.head()

  group_lat group_long  day  hour  sum
0         1          1    1     9    1
1         1          1    2    10    1
2         1          1    3    15    1
3         1          1    4    11    1
4         1          1    4    19    1

In [27]:
df_final["group_lat"] = df_final["group_lat"].astype(int)
df_final["group_long"] = df_final["group_long"].astype(int)

In [28]:
def numeric_to_lat(numeric):
    result = 40.494292 + (numeric+1/2)*GAP
    return result

def numeric_to_long(numeric):
    result = -74.254380 + (numeric+1/2)*GAP
    return result

In [29]:
df_final["lat"] = df_final["group_lat"].map(numeric_to_lat)
df_final["long"] = df_final["group_long"].map(numeric_to_long)

In [30]:
df_return = df_final[["day","hour","sum","lat","long"]]

In [31]:
df_return

        day  hour  sum        lat      long
0         1     9    1  40.500292 -74.24838
1         2    10    1  40.500292 -74.24838
2         3    15    1  40.500292 -74.24838
3         4    11    1  40.500292 -74.24838
4         4    19    1  40.500292 -74.24838
5         5    12    1  40.500292 -74.24838
6         6     0    1  40.500292 -74.24838
7         6    19    1  40.500292 -74.24838
8         6    20    1  40.500292 -74.24838
9         0     0    1  40.500292 -74.24438
10        0     8    1  40.500292 -74.24438
11        1     0    1  40.500292 -74.24438
12        1     1    1  40.500292 -74.24438
13        1     7    1  40.500292 -74.24438
14        2     3    1  40.500292 -74.24438
15        2    14    1  40.500292 -74.24438
16        3     3    1  40.500292 -74.24438
17        3    10    1  40.500292 -74.24438
18        3    15    1  40.500292 -74.24438
19        3    22    1  40.500292 -74.24438
20        4     1    1  40.500292 -74.24438
21        4     3    1  40.500292 -74.24438
22        4     4    1  40.500292 -74.24438
23        4     7    1  40.500292 -74.24438
24        5     9    1  40.500292 -74.24438
25        6     4    1  40.500292 -74.24438
26        0     0    1  40.500292 -74.24038
27        0    10    1  40.500292 -74.24038
28        0    13    1  40.500292 -74.24038
29        0    17    1  40.500292 -74.24038
...     ...   ...  ...        ...       ...
361963    5    23    1  40.912292 -73.90038
361964    6     3    1  40.912292 -73.90038
361965    6    11    1  40.912292 -73.90038
361966    0    14    1  40.912292 -73.89638
361967    0    15    1  40.912292 -73.89638
361968    0    21    1  40.912292 -73.89638
361969    0    23    2  40.912292 -73.89638
361970    1     7    1  40.912292 -73.89638
361971    1    12    2  40.912292 -73.89638
361972    1    15    1  40.912292 -73.89638
361973    1    16    2  40.912292 -73.89638
361974    1    21    1  40.912292 -73.89638
361975    2     0    1  40.912292 -73.89638
361976    2     1    1  40.912292 -73.89638
361977    2    14    1  40.912292 -73.89638
361978    2    15    1  40.912292 -73.89638
361979    2    17    1  40.912292 -73.89638
361980    3    14    1  40.912292 -73.89638
361981    3    22    1  40.912292 -73.89638
361982    3    23    1  40.912292 -73.89638
361983    4     2    1  40.912292 -73.89638
361984    4    17    2  40.912292 -73.89638
361985    4    20    1  40.912292 -73.89638
361986    5     2    1  40.912292 -73.89638
361987    5    13    1  40.912292 -73.89638
361988    5    15    1  40.912292 -73.89638
361989    5    17    1  40.912292 -73.89638
361990    5    18    2  40.912292 -73.89638
361991    6     2    1  40.912292 -73.89638
361992    6    21    1  40.912292 -73.89638

[361993 rows x 5 columns]

In [32]:
df_return.to_csv("./criminal_lat_long_%s.csv"%(str(GAP-int(GAP))[2:]),index = None)